.list-name-text
{
    font-family: Solway;
}

.trash {
    margin-top:10%;
    margin-left:30%;
}

.list-date-text
{
    font-family: Solway;
}

.list-block
{
    cursor: pointer;
    background-color: rgb(237,241,247);
}

.list-block:hover
{
    background-color: rgb(207,211,237);
}

.manager-header
{
    font-family: Solway;
}