<nb-card >
    <nb-card-header>
        <div class="col-md-12 col-12">
            <div class="row show-grid">
                <div class="col-md-8 col-8">
                    <button id="showingSendingFormButton" (click)="changeStateShowSendForm($event)" nbButton>Показать/убрать отправку</button>
                </div>
                <div class="col-md-4 col-4">
                    <button id="inviteButton" (click)="inviteStudents($event)" nbButton>Пригласить выбранных</button>
                </div>
            </div>
        </div>
        <div *ngIf = "isSendFormShowed">
            <write-message-compo [studentLists]="selectedRows"></write-message-compo>
        </div>
    </nb-card-header>
    <nb-card-body [nbSpinner]="loading" nbSpinnerStatus="success">
        <ng2-smart-table 
        [source]="listContent" 
        [settings]="settings" 
        (custom)="onCustomAction($event)"
        (userRowSelect)="onUserRowSelect($event)">

        </ng2-smart-table>
    </nb-card-body>
</nb-card>