<nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
    <nb-card-header>
        Управление ролью
    </nb-card-header>
    <nb-card-body>
        <div *ngIf="!isEditable">
            <button nbButton (click)="changeEditableState($event)">
                Изменить
            </button>
        </div>
        <div *ngIf="isEditable" (click)="applyPermissionsChange($event)">
            <button nbButton>
                Принять
            </button>
            <button nbButton (click)="changeEditableState($event)">
                Отменить 
            </button>
        </div>
        <nb-list>
            <nb-list-item *ngFor="let permission of allPermissions">
                <div class="col-md-12">
                    <div class="row show-grid">
                        <div class="col-8 col-md-8">
                            {{permission.friendlyName}}
                        </div>
                        <div class = "col-4 col-md-4"> 
                            <nb-checkbox [disabled]="!isEditable" [(checked)]="permission.isChecked" status="primary"></nb-checkbox>
                        </div>
                    </div>
                </div>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>