<nb-card>
    <nb-tabset>
        <nb-tab tabTitle="Отправка сообщения">
            <nb-layout>
                <nb-layout-column>
                    <div class="col-md-12 col-12">
                        <div class="row show-grid">
                            <div class="col-md-12 col-12">
                                <nb-card>
                                    <nb-card-header>
                                        <p class="header-template">Окно переписки</p>
                                    </nb-card-header>
                                    <nb-card-body>
                                        <nb-chat class="messager-column" class="messager-part">
                                            <nb-chat-message class="chat-messager" *ngFor="let msg of history?.messages"
                                                type="text" [message]="msg.messages" [reply]="msg.ToStudent" [sender]=history.phone
                                                [date]="msg.date">
                                            </nb-chat-message>
                                            <nb-chat-form (send)="sendMessage($event)">
                                            </nb-chat-form>
                                        </nb-chat>
                                    </nb-card-body>
                                </nb-card>
                            </div>

                        </div>
                    </div>
                </nb-layout-column>
            </nb-layout>
        </nb-tab>
        <nb-tab tabTitle="Информация о студенте">
            <nb-list>
                <nb-list-item *ngFor="let field of fields">
                    <p class="field-key">{{field.key}}</p><br><p class="field-value">{{field.value}}</p>
                </nb-list-item>
            </nb-list>
        </nb-tab>
        <nb-tab tabTitle="Пригласить" [disabled]="isRegistered && !isCanSms" [nbSpinner]="isSmsSendLoading"
            nbSpinnerStatus="success">
            <button nbButton (click)="sendInvite($event)">
                Отправить на почту
            </button>
            <input nbInput [(ngModel)]="newUserEmail">
        </nb-tab>
    </nb-tabset>
</nb-card>