<nb-card>
    <ng-container *ngIf="isInvite">
        <invite-users>
        </invite-users>
    </ng-container>
    <nb-card-header>
        Пользователи
    </nb-card-header>
    <nb-card-body>
        <ng-container *ngIf="isExport">
            <button nbButton (click)="exportStudentsToExcel($event)">Вывести студентов в Excel</button>
        </ng-container>
        <nb-list [nbSpinner]="loading" nbSpinnerStatus="success">
            <nb-list-item *ngFor="let user of users">
                <div class="col-md-12">
                    <div class="row show-grid">
                        <div class="col-4 col-md-4">
                            {{user.FirstName}} {{user.LastName}}
                        </div>
                        <div class="col-3 col-md-3">
                            {{user.Role?.roleName}}
                        </div>
                        <div class="col-3 col-md-3">
                            <ng-container *ngIf="isRoles">
                                <button nbButton (click)="openChangeRoleModal($event, user)">
                                    Изменить роль
                                </button>
                            </ng-container>
                        </div>
                        <div class="col-1 col-md-1">
                            <nb-icon (click)="openUserInfo($event, user.Username)" icon="eye-outline"></nb-icon>
                        </div>
                        <div *ngIf="isCanDelete" class="col-1 col-md-1">
                            <nb-icon (click)="deleteUser($event, user.Username)" icon="close-outline"></nb-icon>
                        </div>
                    </div>
                </div>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>